
<html>
<head><title>Let's play with anagrams!</title></head>
<link type="text/css" rel="stylesheet" href="style.css" />

<head>

</head>
<body style="background-color:#46B29D;" onload="onLoad()">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	

	<div class="page">
		<div id="title">
		Entropius
		</div>
		<div id="wrapper">
			<canvas id="canvas" tabindex="1"></canvas>
			<%= @words.length %>

			<% @selection = @words.shuffle.first(50).collect(&:content)
				@shuffled = @selection.map{|word| word.upcase.split('').shuffle} %>


			<script type = "text/javascript">var selection = <%= @selection %>; var shuffled = <%= @shuffled %></script>
			<script src="anagram.js"></script>
		</div>
	</div>


</body>


</html>