
<html>
<head><title>Let's play with anagrams!</title></head>
<link type="text/css" rel="stylesheet" href="style.css" />

<head>

</head>
<body style="background-color:#46B29D;">
	

	<div class="page">
		<div id="title">
		Entropius!
		</div>
		<div id="wrapper">
			<canvas id="canvas" tabindex="1"></canvas>

			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

			<script type = "text/javascript">var selection = <%= @cselection %>; var shuffled = <%= @shuffled %></script>
			<script src="anagram.js"></script>	
		</div>
		<div id="instructions" ">
			<b>Instructions</b><br />
			Type in the anagrams using your keyboard or mouse 
			
			</p><b>Keyboard shortcuts</b><br />
				<i> Spacebar </i> - shuffle letters</br>
				<i> Shift+backspace  </i>- clear word</br>
				<i> Enter  </i>- reveal next letter</br>
				<i> 1  </i>- previous word</br>
				<i> 2  </i>- next word </br>

			</p><a href="/"> Back to canvas </a> 
  
		</div>

	</div>

</body>


</html>
