
<html>
<head><title>Let's play with anagrams!</title></head>
<link type="text/css" rel="stylesheet" href="style.css" />


<body>
	Find the anagram of the following word
	<div id="wrapper">
		<canvas id="canvas" width="1000" height="500" tabindex="1"></canvas>
	</div>

		This word <%= "e" %>


<script type = "text/javascript">var words = <%= @words.all.collect(&:content) %> </script>
<script src="anagram.js"></script>

</body>


</html>