<!DOCTYPE html>
<html>
<head><title>Drawing is Fun</title></head>
<link type="text/css" rel="stylesheet" href="style.css" />


<body>
  Start drawing stuff
  <div id="wrapper">
    <canvas id="canvas"></canvas>
    <script src="drawing.js"></script>

  </div>

  

</body>


</html>