<!DOCTYPE html>
<html>
<head><title>Sciffany Canvas</title></head>
<link type="text/css" rel="stylesheet" href="style.css" />


<body>
  <h1> Welcome to Sciffany Canvas! </h1>
  Feel free to draw anything below.</br>
  
  
  <div id="wrapper">
    <canvas id="canvas"></canvas>
    <script src="drawing.js"></script>
  </div>

  <a href="/anagram"> Entropius (Anagram game)</a>. 
  <a href="http://sciffany.herokuapp.com"> Citrus Frozen Beach (Tile-based game) </a>. 
  <a href="http://sciffany.herokuapp.com/pages/hotel"> Glacier Resorts (Tower Defence game)  </a>. <br/>
  <a href="http://sciffany.wordpress.com/"> Tiffthings (World of Animation)  </a> 
  
</body>


</html>