
<!DOCTYPE html>

<html>
<head>
    <title>Touch on canvas test</title>
    
    <script type="text/javascript">
        function onLoad() {
            
            window.addEventListener("touchstart", function() {
                alert("touch started");
            }, false);
        }
    </script>
   
    
</head>

<body onload="onLoad()">

<!--canvas id="canv" height="100%" width="100%"></canvas-->

</body>
</html>
