
<!DOCTYPE html>

<html>
<head>
    <title>Touch on canvas test</title>
    
    <script type="text/javascript">
        function onLoad() {
            /*var canvas = document.getElementById("canv");
            var ctxt = canvas.getContext("2d");
            ctxt.fillStyle = "blue";
            ctxt.fillRect(0, 0, 300, 300);
            
            ctxt.addEventListener("touchstart", function() {
                alert("context touchstart heard");
            }, false);
            
            canvas.addEventListener("touchstart", function() {
               alert("canvas touchstart heard"); 
            }, false);*/
            window.addEventListener("touchstart", function() {
                alert("touch started");
            }, false);
        }
    </script>
   
    
</head>

<body onload="onLoad()">

<!--canvas id="canv" height="100%" width="100%"></canvas-->

</body>
</html>
