body {
    font-family: Tahoma, Geneva, sans-serif;
   	text-align:center;
    font-size:12px;
    padding:35px;
    background: linear-gradient(#46B29D, #F0CA4D);
    overflow: hidden;
    position:fixed;
}



.page{
	display: flex;
	height:100%;
	flex-flow:column;	
}


#wrapper{
	margin:0;
	text-align:center;
	flex: 1 1 auto;
	display: flex;
}


#canvas{
	flex: 1 1 auto;
}


#title{
	text-align:center;
	font-size:40px;
    font-weight: bold;
    font-family:Georgia;
    color:white;
    text-align:left;
    padding-bottom:10px;
}
