body {
    font-family: Tahoma, Geneva, sans-serif;
   	text-align:center;
    font-size:12px;
    padding:35px;
    background: linear-gradient(#46B29D, #F0CA4D);
    
}

.page{
}

#wrapper{
}

#canvas{
}

#instructions{
    margin-top: 20px;
    font-size: 20px;
    text-align: left;
}

#title{
	text-align:center;
	font-size:40px;
    font-weight: bold;
    font-family:Georgia;
    color:white;
    text-align:left;
    padding-bottom:10px;
}
